# exclude all
*.*

# include some start with "!" mark
! .gitignore
! .dockerignore
! convert_webinspect_xml_to_generic_defectdojo_csv.js
! docker-compose.yml
! dockerfile
! package.json
! makefile
! ./results/readme.md
! node_modules/
